* {
    padding: 0;
    margin: 0;
    font-family: arial, tahoma, verdana, sans-serif;
}

:root {
    --main-text-color: #6d757b;
    --NB-color: #0151ac;
    --border-color: #ededed;
    --warning: #cba544;
    --subcolor: #d7c67d;
    --bk-color: #f5f5f5;
    --max-width: 1200px;
    --active-item: #0151ac;
}

body {
    min-width: 1200px;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 0.95em;
    color: var(--main-text-color);
    line-height: 1.5em;
}

footer {
    width: 100%;
    background-image: url(img/index/foot1.png);
    border-top: 5px solid #d7c67d;
}

.dark {
    color: black !important;
}

.foot-main {
    margin-top: 50px;
    width: 66%;
    margin-bottom: 50px;
    max-width: var(--max-width);
}

.foot-bottom {
    margin-top: 30px;
    width: 66%;
    margin-bottom: 20px;
    color: white;
    max-width: var(--max-width);
}

.foot-bottom span {
    display: inline-block;
    vertical-align: bottom;
    height: 21px;
    box-sizing: border-box;
    line-height: 21px;
}

.foot-item {
    min-width: 100px;
    margin: 0 auto 0 auto;
}

.foot-item h4 {
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

.foot-item p {
    color: var(--main-text-color);
    margin-bottom: 8px;
    font-size: 0.5em;
    cursor: pointer;
}

.foot-item img {
    margin-right: 5px;
    margin-top: 5px;
}

.foot-bottom span {
    margin-left: 5px;
}

.foot-bottom p {
    font-size: 0.8em;
    margin-top: 20px;
    font-weight: 200;
}

.divided {
    width: 66%;
    border-top: 1px solid #999999;
    max-width: var(--max-width);
}

.divided2 {
    width: 100%;
    border-top: 1px solid #999999;
    margin-bottom: 15px;
}

.main-box {
    width: 66%;
    height: 100px;
    max-width: var(--max-width);
}

.main {
    display: flex;
    text-align: center;
    height: 100px;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 0, 0, 0.4);
}

.width100 {
    width: 100% !important;
}

.width49 {
    width: 49% !important;
}

.haveMargin-right {
    margin-right: 30px;
}

.haveMargin-left {
    margin-left: 30px;
}

.haveMargin-top15 {
    margin-top: 15px;
}

.haveMargin-bottom10 {
    margin-bottom: 10px;
}

.noPadding-right {
    padding-right: 0px !important;
}

.havePadding-right {
    padding-right: 15px !important;
}

.flex {
    display: flex;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-left {
    margin-right: auto;
}

.flex-right {
    margin-left: auto;
}

.flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-justify {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center {
    margin-left: auto;
    margin-right: auto;
}

.flex-horizontal {
    margin: auto 0 auto 0;
}

.flex-left-horizontal {
    margin: auto auto auto 0;
}

.flex-reight-horizontal {
    margin: auto 0 auto auto;
}

.flex-bottom {
    margin-top: auto;
}

.flex-top {
    margin-bottom: auto;
}

.flex-item {
    font-size: 1.1em;
    color: white;
    cursor: pointer;
    font-weight: 900;
    margin: auto;
    box-sizing: border-box;
    height: 30px;
}

.flex-item:hover {
    color: #d7c67d;
    border-bottom: 3px solid #d7c67d;
}

.active {
    color: #d7c67d !important;
    border-bottom: 3px solid #d7c67d;
}
.active-item {
    color: var(--active-item) !important;
}

.flex-item-logo {
    color: white;
    padding: 0 10px;
    cursor: pointer;
    font-weight: 900;
    width: 180px;
    /* -webkit-mask: url(https://github.com/AKiyama2738/dj/blob/main/img/logo.svg) no-repeat 50% 50%;
    mask: url(https://github.com/AKiyama2738/dj/blob/main/img/logo.svg) no-repeat 50% 50%; */
    margin: auto auto auto 0;
}

.grid {
    display: grid;
}

.banner {
    box-shadow: 0 4px 4px 1px gray;
    height: 1200px;
}

.banner-img {
    width: 100%;
    height: 1200px;
    object-fit: cover;
}

.header {
    height: 0;
}

.content-about {
    width: 100%;
    background-image: url(img/about/bk.png);
    background-color: var(--bk-color);
    padding: 0 15px 15px 15px;
    box-sizing: border-box;
}

.content-about h1 {
    font-weight: 400;
    margin-bottom: 30px;
}

.content-about h2 {
    font-weight: 400;
    color: var(--main-text-color);
    padding-left: 20px;
    border-left: 3px solid var(--subcolor);
    line-height: 1em;
    margin-bottom: 30px;
}

.content-about h4 {
    font-weight: 400;
    color: var(--main-text-color);
    line-height: 1.7em;
    margin-bottom: 60px;
}

.language {
    color: white;
    cursor: pointer;
    margin: auto;
    font-size: 1em;
    height: 40px;
    font-weight: 300;
    line-height: 40px;
    align-items: center;
    margin-right: 0px !important;
}

.languageico {
    height: 20px;
    margin-right: 3px;
    display: block;
}

.imgs {
    width: 100%;
    display: block;
}

.about-drop {
    visibility: hidden;
    position: absolute;
    top: 120px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 0 0 5px 5px;
    min-width: 150px;
    margin-left: -20px;
    color: white;
}

#about-a:hover~.about-drop {
    visibility: visible;
}

#about-drop:hover {
    visibility: visible;
}

.drop-item {
    font-size: 0.9em;
    font-weight: 200;
    text-align: left;
    padding-left: 20px;
}

.nav {
    width: 66%;
    max-width: var(--max-width);
    color: var(--main-text-color);
    height: 50px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    font-size: 0.9em;
    margin-bottom: 15px;
}

.main-content {
    width: 66%;
    max-width: var(--max-width);
}

.nva-item {
    padding-right: 5px;
}

.nva-item img {
    height: 19px;
    margin-right: 5px;
}

.nva-item span {
    cursor: pointer;
}

.nva-left {
    width: 25%;
    margin-right: 15px;
}

.nva-left-box1 {
    background-color: white;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    color: var(--main-text-color);
}

.nva-left-box1-item {

    padding-bottom: 15px;
    padding-top: 15px;
}

.nva-left-box1 h3 {
    font-weight: 500;
    border-left: 5px solid #0151ac;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.nva-left-box1 p {
    padding-left: 25px;
    padding-right: 15px;
    cursor: pointer;
}

.nva-left-box1 span {
    padding-left: 25px;
    padding-right: 15px;
    font-size: 0.8em;
    color: #a0a5a9;
}

.nav-right-box {
    background-color: white;
    width: 75%;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.nav-right-box2 {
    width: 75%;
    border-radius: 5px;
    box-sizing: border-box;
}

.nav-right-box img {
    width: 100%;
}

.nav-right-box p {
    padding-top: 15px;
    color: var(--main-text-color);
}

.border-bottom {
    border-bottom: 1px solid #ededed;
}

.card-news {
    border-radius: 5px;
    background-color: white;
    padding: 15px;
}

.card-news:hover {
    box-shadow: 0 0 15px var(--border-color);
}

.card-content {
    padding: 15px 0 15px 30px;
}

.card-content h2 {
    font-weight: 400;
}

.card-content p {
    color: var(--main-text-color);
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-content img {
    height: 36px;
    margin-left: 10px;
}

.card-content-but {
    height: 36px;
    color: var(--main-text-color);
}

.partner-logo {
    height: 90px !important;
    width: 90px !important;
    margin-right: auto;
    margin-bottom: 10px;
}

.noMargin {
    margin: 0 !important;
}

.noPadding-bottom {
    padding-bottom: 0 !important;
}

.contact-main-box {
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    background-color: white;
}

.contact-box {
    width: 100%;
    color: var(--main-text-color);
}

.contact-title h1 {
    font-weight: 500;
    padding-right: 20px;
}

.contact-title span {
    padding-left: 10px;
    color: var(--subcolor);
}

.contact-title h2 {
    font-weight: 400;
    padding-right: 20px;
}

.color-sub {
    color: #d5c08b !important;
}

.contact-title {
    margin-bottom: 50px;
}

.contact-content-left {
    width: 50%;
    box-sizing: border-box;
    padding-right: 30px;
}

.contact-content-right {
    width: 50%;
    box-sizing: border-box;
}

.contact-content h3 {
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.6em;
}

.contact-content h4 {
    font-weight: 400;
}

.contact-content h1 {
    color: var(--NB-color);
}

.contact-content-item {
    margin-bottom: 50px;
}

.contact-icon {
    height: 1em;
    padding-right: 5px;
}

.img-aaddress {
    width: 100%;
}

.from p {
    font-size: 0.95em;
    margin-bottom: 5px;
}

.from input {
    width: 49%;
    height: 36px;
    font-size: 0.95em;
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.from textarea {
    width: 100%;
    height: 120px;
    font-size: 0.95em;
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: inherit;
    font-family: inherit;
}

.from-item {
    margin-bottom: 15px;
}

.warning {
    background-color: #fff8db;
    color: var(--warning);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--warning);
    margin-bottom: 20px;
}

.from button {
    height: 42px;
    padding: 0 22px 0 22px;
    font-size: inherit;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
    border: none;
    border-radius: 5px;
}

.contact-main-box hr {
    margin-bottom: 50px;
    border-top: none;
    border-bottom: 1px solid var(--subcolor);
}

.card-office-box {
    flex-wrap: wrap;
}

.card-office {
    border: 1px solid var(--border-color);
    width: 49%;
    margin: auto auto 10px 0;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
}

.card-office:hover {
    box-shadow: 0 0 10px var(--border-color);
}

.card-office h2 {
    font-weight: 400;
    margin-bottom: 30px;
}

.card-office span {
    padding: 0 5px 0 5px;
}

.office-icon {
    height: 1.2em;
}

.video {
    background-image: url(img/index/video-bk.png);
    padding: 60px 0 60px 0;
}

.video-box {
    width: 100%;
    text-align: center;
}

.index-main h1 {
    font-weight: 400;
    margin-bottom: 10px;
}

.index-main h2 {
    font-weight: 400;
    color: var(--NB-color);
    margin-bottom: 40px;
}

.index-news {
    background-color: white;
    padding: 60px 0 60px 0;
}

.index-news-card-box {
    width: 64%;
    max-width: var(--max-width);
}

.index-news-card {
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px var(--border-color);
    width: 32%;
    border-radius: 5px;
}

.index-news-card:hover {
    box-shadow: 0 0 20px var(--border-color);
}

.index-news-card img {
    width: 100%;
}

.index-news-card h3 {
    margin-bottom: 10px;
}

.index-news-card p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.index-news-card hr {
    border-top: 1px solid var(--border-color);
    border-left: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.adv {
    padding: 60px 0;
    background-image: url(img/about/bk.png);
}

.adv-main {
    width: 66%;
    max-width: 1100px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.adv-item {
    width: 50%;
    position: relative;
}

.adv-item img {
    width: 100%;
    display: block;
}

.adv-title {
    position: absolute;
    color: white;
    z-index: 999;
    width: 100%;
    height: 100%;
}

.adv-title:hover {
    background-color: rgb(0, 0, 0, 0.5);
}

.adv-title:hover>p {
    display: block;
}

.adv-title p {
    color: white;
    font-size: 1em;
    /* max-width: 66%; */
    max-width: var(--max-width);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: none;
    padding: 0 20px;
}

.adv-title h2 {
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}

.font-fat {
    font-weight: 800 !important;
}

.sagasu {
    width: 66%;
    max-width: var(--max-width);
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.sagasu-content {
    width: 50%;
}

.sagasu-img {
    width: 50%;
    padding-left: 30px;
    padding-top: 50px;
}

.sagasu-img img {
    width: 300px;
    height: 510px;
    margin-top: auto;
    margin-left: auto;
}

.commerce-main {
    background-color: white;
    width: 66%;
    max-width: var(--max-width);
    padding: 40px 20px 20px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.commerce-card-box {
    width: 100%;
}

.commerce-card {
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--border-color);
    padding: 10px;
}

.commerce-card:hover {
    box-shadow: 0 0 10px var(--border-color);
}

.commerce-card img {
    width: 100%;
}

.commerce-card h3 {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.commerce-card p {
    padding: 10px 0 0 10px;
    font-size: 0.9em;
}

.commerce-switch {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

.commerce-switch img {
    height: 30px;
}

.brand-box {
    width: 100%;
}

.brand-item {
    width: 11.5%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--subcolor);
    margin-right: auto;
    margin-top: 10px;
}

.brand-item img {
    width: 100%;
}

.commerce-team {
    width: 66%;
    max-width: var(--max-width);
    padding: 20px;
    box-sizing: border-box;
}

.commerce-team-card {
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}

.commerce-team-card img {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.commerce-team-card h3 {
    color: var(--main-text-color);
    font-weight: 400;
    margin-bottom: 5px;
}

.plus {
    width: 100%;
    margin-right: -20px;
    position: relative;
    left: 20px;
    bottom: -20px;
    margin-top: -40px;
}

.plus img {
    padding: 0;
    width: 40px;
    margin-left: auto;
}

.commerce-team-card-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;

}